body {
    color:#4D4D4D;
    font-size: 20px;
    margin: 0;
    background-color: black;
    background-image: url(./img/bg.png);
    background-size: 13.3%;
}

h6 {
    font-weight: 100;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

p {
    margin-top: 30px;
    margin-bottom: 140px;
    font-size: 20px;
    max-width: 485px;
    text-align: center;
    font-size: 16px;
    color: white;
}

a {
    color: #fcaf17;
}

h3 {
    margin: 0;
    font-size: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.logo {
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    border-radius: 5px;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    display: grid;
    gap: 20px;
}

.input {
    font-size: 20px;
    color: #4D4D4D;
    border-radius: 5px;
    border:1px solid rgb(209, 208, 208);
    padding-left: 20px;
    height: 40px;
}

.input-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.remember-me-container {
    display: flex;
    align-items: center;
}

.form-footer {
    color: #4D4D4D;
    display: flex;
    justify-content: space-between;
}

.form-footer a {
    color: #4D4D4D;
}

.btn {
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    background-color: #fcaf17;
}

.form-choice {
    color: #4D4D4D;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.choice {
    margin: 3px;
    width: 65px;
    height: 65px;
}

.footer-info {
    text-align: center;
}